body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 3% 5%;
}

.sort {
  display: flex;
  justify-content: flex-end;
}
.sort-button {
  padding: 7px 5px;
  max-width: 100px;
  margin-right: 5px;
  border: none;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #ccc;
}
.sort-button:hover {
  background-color: #ddd;
  cursor: pointer;
}
.sort-button:focus {
  outline: 0;
  background-color: #ddd;
}
.label {
  color: #333;
  align-self: center;
  margin-right: 10px;
}
.inline-block {
  display: inline-block;
}
.post-margin {
  margin: 10px 20px;
}
.category-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: auto;
  margin-left: -40px;
  background-color: orange;
  padding: 20px;
  width: 100%;
  margin-right: 0;
}
.add-post-button {
  text-decoration: none;
  background-color: #ffae19;
  color: #efefef;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ddd;
}
.list-item-link {
  text-decoration: none;
  padding: 20px auto;
  border-radius: 5px;
  font-size: 2em;
  font-weight: bold;
  color: #efefef;
}
.list-item-link:hover {
  color: #8d8d8d;
}
.post-list {
  flex-direction: column;
  list-style-type: none;
}
.header-row > th {
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: 400;
  color: #333;
}
.post-list tr {
  border-bottom: 1px solid black;
}
td {
  width: 100px;
}
.post-item td {
  background-color: #ffedcc;
  border-radius: 5px;
  padding: 0 5px;
}
.large-cell {
  width: 800px;
  max-width: 800px;
}
.large-cell > Link {
  text-align: left;
}
.lg-md-cell {
  width: 200px;
  font-size: 0.7em;
}

.sm-cell {
  width: 10px;
  background-color: #eee;
}

.post-item-link {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

.author {
  color: #aaa;
  font-size: 0.8em;
}
.vote-button {
  border: none;
  background-color: #eee;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 0.8em;
  box-shadow: 2px 2px 2px #aaa;
}
.vote-button:hover {
  background-color: #ccc;
  cursor: pointer;
}
.vote-button:focus {
  outline: 0;
}
.update-button {
  display: inline-block;
}
.cancel-button {
  display: inline-block;
}
.post-container {
  display: flex;
  flex-direction: column;
}
.post-sub-container {
  margin: 20px auto;

}
.post {
  padding: 20px;
  width: 1000px;
}
.post td.post-category {
  table-layout: fixed;
  width: 8%;
}
.post-detail .post-large {
  table-layout: fixed;
  width: 55%;
}
.post-detail {
  width: 70%;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ddd;
}
.buttons {
  margin: 20px;
}
.post-comment > button {
  background-color: orange;
  width: 200px;
  align-self: center;
}
.comment-item {
  list-style-type: none;
}
.small {
  font-size: 0.8em;
  padding-left: 10px;
  color: #999;
}
.body {
  padding-top: 20px;
}
.vote {
  margin: 10px auto;
}
.comment {
  margin: 30px auto;
  width: 70%;
}
.comment-body {
  width: 730px;
  max-width: 730px;
  word-wrap: break-word;
}
.comment-container {
  background-color: #ddd;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #aaa;
}
.form th{
  padding: 5px;
}
.form input, textarea {
  width: 300%;
  height: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.form input:focus, textarea:focus {
  outline: 0;
  background-color: #eee;
}
.no-posts {
  text-align: center;
}
